* {
  margin: 0;
}
main {
  position: relative;
}
fieldset {
  margin: 0 auto;
  width: 300px;
}
label,
input,
button {
  padding: 5px;
}
#lista {
  padding: 5px;
}
.item-lista{
  display: inline-block;
  min-width: 250px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
  white-space: nowrap;
  list-style-type: none;
}
.botao-editar {
  margin: 2px;
  font-size: 16px;
  padding: 0.2;
}