* {
  margin: 0;
}
main {
  position: relative;
}
fieldset {
  margin: 0 auto;
  width: 300px;
}
label,
input,
button {
  padding: 5px;
}
#lista {
  padding: 5px;
}
.item-lista{
  display: inline-block;
  min-width: 220px;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
  white-space: nowrap;
  list-style-type: none;
}
.botao-editar {
  margin: 2px;
  padding: 15px 10px;
  background-image: url("img/icone-editar.png") ;
  background-repeat: no-repeat;
  background-size: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer ;
}
.botao-excluir {
  margin: 2px;
  padding: 16px 10px;
  background-image: url("img/icone-excluir.png") ;
  background-repeat: no-repeat;
  background-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer ;
}