* {
  margin: 0;
}
main {
  position: relative;
}
fieldset {
  margin: 0 auto;
  width: 300px;
}
label,
input,
button {
  padding: 5px;
}
.item-lista{
  display: inline-block;
  min-width: 200px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
  white-space: nowrap;
}
.botao-editar {
}